.addon-row {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.addon-row > div {
    margin-right: 10px;
}

.addon-row input[type="text"],
.addon-row input[type="number"] {
    width: 200px;
}

.remove-addon {
    color:  #a1a1a1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.remove-addon:hover {
    color: #c82333;
}
